body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
.logo-holder{
    width: 8rem;
    height: 8rem;
}
.logo-holder a img{
    width: 100%;
    height: 100%;
    
}

#side-navbar{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    border: 2px 2px 2px solid black;
    height: 100%;
    width: 20%;
    background-color: rgb(188, 187, 187);
    position: fixed;
    overflow: hidden;

    
    
}

#side-navbar ul{
list-style: none;
margin :0;
padding: 0;


}
.sidebar-main-links{
    margin-top: 2rem ;
    margin-left: 1rem;

    padding-bottom:2rem ;
    
}
.sidebar-main-links ul li{
    margin-bottom: 1rem;
}

.sidebar-main-links ul a{
    text-decoration: none;
    color: rgb(245, 238, 238);
}

.sidebar-main-links p{
    color: rgb(237, 231, 231);
}


#heading{
    padding-left:10rem ;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#hoarding h2{
    padding-top: 1rem;
}
#hoarding a{
    text-decoration: none;
}
.main-content{
    /* position: absolute; */
    padding-top: 5rem;
    top: 48%;
    left: 18rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.main-content #list-holder{
    text-align: center;
}
.main-content ul{
    list-style: none;
     margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     
}

 .main-content li{
   
   text-align: center;
    width: 30rem;
   
}  
.main-content ul li .card{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.wrapper{
    padding-left: 250rem;
    width: 55%;
    height: 100%;
    text-align: center;

}
.my-slider{
  width: 100%;  
}

@media screen and (max-width:768px){
    body{
        margin: 0;
        padding: 0;
    }
    #heading{
        width: 45rem;
    }
    #heading #search-bar {
        margin-left: 4rem;
        width: 100%;
    }
    #side-navbar{
        margin-right: 2rem;
        padding-right: 3rem;
        text-align: center;
    }
    .logo-holder{
        width: 10rem;
        height: 10rem;
        padding-right: 3rem;
    }
    .logo-holder img{
       width: 100%; 
       object-fit: cover;
    }
    .main-content{
        margin-top: -4rem;

        padding-left: 16rem;
        padding-right: 5rem;
       
        width: 20rem;
        height: 20rem;
        text-align: center;
    }
    .main-content h3{
       padding-left: 25rem;
    }
    #list-holder{
        width: 5rem;
         height: 5rem; 
         padding-right: 5rem;
    }
    
    .card{
        
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding: 0;

    }
    .card .image-holder{
        width: 6rem;
        height: 6rem;
    }
    .card .card-body{
        font-size: 12px;
    }
    .card .btn{
        position:absolute;
        top: 7rem;
        right: 24rem;
    }
    

}

@media screen and (max-width:480px){
    body{
        margin: 0;
        padding: 0;
    }
    #heading{
        width: 25rem;
    }
    #heading #search-bar {
        margin-left: 4rem;
        width: 100%;
    }
    #side-navbar{
        margin-right: 7rem;
        padding-right: 5rem;
        text-align: center;
    }
    .logo-holder{
        width: 8rem;
        height: 8rem;
        padding-right: 3rem;
    }
    .logo-holder img{
       width: 100%; 
       object-fit: cover;
    }
    .main-content{
        padding-left: 15rem;
        padding-right: 5rem;
       
        width: 20rem;
        height: 20rem;
        text-align: center;
    }
    .main-content h3{
       padding-left: 25rem;
    }
    #list-holder{
        width: 5rem;
         height: 5rem; 
         padding-right: 5rem;
    }
    
    .card{
        
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding: 0;

    }
    .card .image-holder{
        width: 6rem;
        height: 6rem;
    }
    .card .card-body{
        font-size: 12px;
    }
    .card .btn{
        position:absolute;
        top: 7rem;
        right: 24rem;
    }
    

}