<%- include('head', { title: 'Error!' }) %>
</head>
<body>
  <main >
    <h1>Not authenticated!</h1>
    <p>You are not authenticated and therefore not allowed to access this page!</p>
    <p>You can Try <a href="/login"> Loging in </a> or go to <a href="/"> HomePage </a></p>
  </main>
</body>
</html>