<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head')  %> 
    <link rel="stylesheet" href="/styles/editBookStyle.css">
    <script src="/scripts/newBook.js" defer></script>
</head>
<body>
    <header>
        <%- include('navbar') %> 
    </header>
    <main >
      <h3>Create New Book</h3>
    <form id="new-book-create" class="form-position">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="" required>
        </div>
        <div class="form-control">
          <label for="summary">Summary</label>
          <input type="text" id="summary" name="summary" value="" required maxlength="255">
        </div>
        <div class="form-control">
            <label for="author">Author</label>
            <input type="text" id="name" name="author" value=""  required>
          </div>
        
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value=""  required>
          </div>
        
        </div >
        <div class="btnStyle">
            <button type="submit" class="btn btn-primary" name="submit" >Create Book</button>
        </div>  
    </form>
</main>

    
</body>
</html>